{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Career | KiranaExpress</title>
    <link rel="stylesheet" href="{% static 'css/career.css' %}" />
  </head>
  <body>
    <section class="career">
      <h1>Build Your Career with KiranaExpress</h1>
      <p>
        Join our growing team of innovators transforming local shopping. We
        value creativity, passion, and dedication. Whether you’re a developer,
        marketer, or delivery partner, KiranaExpress has a place for you.
      </p>
    </section>
    <!-- <script src="js/career.js"></script> -->
  </body>
</html>
