{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KiranaExpress One</title>
    <link rel="stylesheet" href="{% static 'css/one.css' %}" />
  </head>
  <body>
    <section class="one">
      <h1>KiranaExpress One</h1>
      <p>
        Exclusive membership program with free deliveries, early access to
        offers, and premium customer support.
      </p>
    </section>
    <script src="js/one.js"></script>
  </body>
</html>
