{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KiranaExpress Genie</title>
    <link rel="stylesheet" href="{% static 'css/genie.css' %}" />
  </head>
  <body>
    <section class="genie">
      <h1>✨ KiranaExpress Genie</h1>
      <p>
        Your personal shopping assistant! From groceries to essentials, Genie
        brings whatever you need, whenever you want, right to your doorstep.
      </p>
    </section>
    <!-- <script src="js/genie.js"></script> -->
  </body>
</html>
